*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --colorbase1: rgb(110, 137, 175);
    --colorbase2:  rgb(67, 91, 125);
    --colorerror1:  rgb(199, 130, 118);
    --colorerror2: rgb(110, 59, 50) ;
}

::selection{
    background-color: rgba(255, 255, 255, .3);
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

/* add */

.todoAdd{
    background-color: var(--colorbase1);
    width: 100%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    transition: all 300ms;
}

.todoAdd input{
    border-radius: 15px;
    padding: 5px;
    margin-right: 10px;
    transition: all 300ms;
}

.todoAdd > input:nth-child(2){
    color: var(--colorbase2);
    font-weight: bolder;
    background-color: white;
    border: none;
}

.todoAdd > input:nth-child(2):active{ 
    color:var(--colorbase1);
}
/* add error - quando non viene inserito qualcosa*/

.todoAdd.alert > input:nth-child(2){ 
    background-color: var(--colorerror2);
    color: white;
}

.todoAdd.alert{      
    background-color: var(--colorerror1);
}

.todoAdd.alert > input:nth-child(2):active{ 
    color: var(--colorerror1);
}

/* listitem */
.listitem{
    color: var(--colorbase1);
    background-color: rgb(212, 220, 231);
    height: 40px;
    width: fit-content;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bolder;
    transition: all 300ms;
}

.listitem button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--colorbase1);
    color: white;
    border:none;
}

.listitem button:first-child{
    margin-right: 5px;
}

.listitem button:nth-child(2){
    margin-left: 5px;
}

.active{
    text-decoration:line-through;
    background-color: var(--colorerror1);
    color: white;
}

.active button{
    background-color: var(--colorerror2);
}
